<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="row">
        <div class="column1">
            <img src="/static/images/logo.png" alt="logo">
        </div>
        <div class="column2">
            <h5><a href="../Page2/index.html">Home</a>
            </h5>
        </div>
        <div class="column3">
            <h5><a href="../Products/index.html">Products</a>
            </h5>
        </div>
        <div class="column4">
            <h5><a href="../LogIn/index.html">Sign In</a>
            </h5>
        </div>
        <div class="column5">
            <h5><a href="../Regristration/index.html">Register</a>
            </h5>
        </div>
        <div class="column6">
            <a href="../EmptyCart/index.html">
                <img src="/static/images/cart.svg" alt="cart" height="50px" width="50px">
            </a>
        </div>
    </div>
    <div class="products-container">
        <div class="sideNav">
            <div class="items">
                <h3>Fruits & vegitable</h3>
            </div>
            <div class="items">
                <h3>Bakery cakes & Daily</h3>
            </div>
            <div class="items">
                <h3>Beverages</h3>
            </div>
            <div class="items">
                <h3>Beauty & Hygiene</h3>

            </div>
            <div class="items">
                <h3>Baby Care</h3>
            </div>
        </div>
        <div class="items_container"></div>

    </div>
    </div>
    <script src="index.js"></script>
</body>

</html>