<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABKA BAZZAR</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="row">
        <div class="column1">
            <img src="/static/images/logo.png" alt="logo">
        </div>
        <div class="column2">
            <h5>
                <a href="../Page2/index.html">Home</a>
            </h5>
        </div>
        <div class="column3">
            <h5><a href="../Products/index.html">Product</a>
            </h5>
        </div>
        <div class="column4">
            <h5><a href="../LogIn/index.html">Sign In</a>
            </h5>
        </div>
        <div class="column5">
            <h5><a href="../Regristration/index.html">Register</a>
            </h5>
        </div>
        <div class="column6">
            <a href="../EmptyCart/index.html">
                <img src="/static/images/cart.svg" alt="cart">
            </a>
        </div>
    </div>
    
        <div>
            <img src="/static/images/offers/offer5.jpg" height="200px" width="100%">
        </div>

        <div id="container"></div>
        <script src="index.js"></script>
</body>
</html>